<div class="chat-header d-flex align-items-center justify-content-between px-3 py-4 ">
  <div>
    <h4 class="mb-0 text-warning">Dr. John Doe</h4>
    <small class="text-white">MBBS, MD (Medicine)</small><br>
    <small class="text-white">Child Psychologist</small><br>
    <small class="text-white">Reg. No: 123456</small>
  </div>
  <div class="text-end">
    <h5 class="mb-0 text-white">Clinic Name</h5>
    <small class="text-white">123 Main Street, City</small><br>
    <small class="text-white">Phone: +880 1234 567890</small>
  </div>
</div>
<div class="prescription-card">
  <div class="row prescription-header" style="color:seagreen;font-weight:500">
    <div class="col">
      <label>Name : {{patientForm.get('name')?.value}}</label>
    </div>
    <div class="col">
      <label>Age : {{patientForm.get('age')?.value || "..."}}y</label>
    </div>
    <div class="col">
      <label>Sex : {{patientForm.get('sex')?.value}}</label>
    </div>
    <div class="col">
      <label>Date : {{patientForm.get('date')?.value}}</label>
    </div>
  </div>
  <div [formGroup]="patientForm" class="row py-2">
    <div class="col">
      <input type="text" formControlName="name" class="form-control" placeholder="Name" aria-label="First name">
    </div>
    <div class="col">
      <input type="number" formControlName="age" class="form-control" placeholder="Age" aria-label="First name">
    </div>
    <div class="col">
      <select formControlName="sex" class="form-select" id="autoSizingSelect">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Bi-Sexual">Bi-Sexual</option>
      </select>
    </div>
    <div class="col">
      <input type="date" formControlName="date" class="form-control" placeholder="Date" aria-label="First name">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div>
        <div>
          <div class="zone-title">C/C (Chief Complaint)</div>
          <ul>
            <li *ngFor="let cc of ccList">{{cc}}</li>
          </ul>
          <input type="text" placeholder="Search for a CC" [formControl]="ccControl" [matAutocomplete]="auto1"
            class="example-input input-none">
          <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onOptionSelected($event,'CC')">
            @for (cc of filteredCC | async; track cc) {
            <mat-option [value]="cc">{{cc}}</mat-option>
            }
          </mat-autocomplete>
        </div>
        <div>
          <div class="zone-title">O/H (Other / Past History)</div>
          <ul>
            <li *ngFor="let oh of ohList">{{oh}}</li>
          </ul>
          <input type="text" placeholder="Search for a OH" [formControl]="ohControl" [matAutocomplete]="auto2"
            class="example-input input-none">
          <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="onOptionSelected($event,'OH')">
            @for (oh of filteredOH | async; track oh) {
            <mat-option [value]="oh">{{oh}}</mat-option>
            }
          </mat-autocomplete>
        </div>
        <div>
          <div class="zone-title">O/E (On Examination)</div>
          <ul>
            <li *ngFor="let oe of oeList">{{oe}}</li>
          </ul>
          <input type="text" placeholder="Search for a OE" [formControl]="oeControl" [matAutocomplete]="auto3"
            class="example-input input-none">
          <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="onOptionSelected($event,'OE')">
            @for (oe of filteredOE | async; track oe) {
            <mat-option [value]="oe">{{oe}}</mat-option>
            }
          </mat-autocomplete>
        </div>
        <div>
          <div class="zone-title">Investigation</div>
          <ul>
            <li *ngFor="let inv of invList">{{inv}}</li>
          </ul>
          <input type="text" placeholder="Search for a Investigation" [formControl]="invControl"
            [matAutocomplete]="auto4" class="example-input input-none">
          <mat-autocomplete #auto4="matAutocomplete" (optionSelected)="onOptionSelected($event,'INV')">
            @for (inv of filteredInv | async; track inv) {
            <mat-option [value]="inv">{{inv}}</mat-option>
            }
          </mat-autocomplete>
        </div>
        <div>
          <div class="zone-title">Advice</div>
          <ul>
            <li *ngFor="let adv of advList">{{adv}}</li>
          </ul>
          <input type="text" placeholder="Search for a Advice" [formControl]="advControl" [matAutocomplete]="auto5"
            class="example-input input-none">
          <mat-autocomplete #auto5="matAutocomplete" (optionSelected)="onOptionSelected($event,'ADV')">
            @for (adv of filteredAdv | async; track adv) {
            <mat-option [value]="adv">{{adv}}</mat-option>
            }
          </mat-autocomplete>
        </div>

      </div>
    </div>
    <div class="col-md-9">
      <div class="zone-title"><span class="rx-symbol">℞</span></div>
      <div>
        <ol class="medicine">
         <li *ngFor="let item of prescriptionItems">
          {{item.Form}} {{item.drugName}} {{item.Dose}} <br/>
          {{item.frequency}} {{item.instructions}} {{item.duration}}
        </li>
        </ol>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Dosage Form</th>
              <th scope="col">Drug Name</th>
              <th scope="col">Frequency</th>
              <th scope="col">Instructions</th>
              <th scope="col">Duration</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" placeholder="Search dosage form" [formControl]="control" [matAutocomplete]="auto"
                  class="example-input input-none">
                <mat-autocomplete #auto="matAutocomplete">
                  @for (dosage of filteredDosage | async; track dosage) {
                  <mat-option [value]="dosage">{{dosage}}</mat-option>
                  }
                </mat-autocomplete>
              </td>
              <td>
                <input type="text" placeholder="Search drug" [formControl]="controlDrug" [matAutocomplete]="auto10"
                  class="example-input input-none">
                <mat-autocomplete #auto10="matAutocomplete" [displayWith]="displayFn">
                  @for (drug of filteredDrug | async; track drug) {
                  <mat-option [value]="drug">{{drug.name}} {{drug.strength}} {{drug.unit}}</mat-option>
                  }
                </mat-autocomplete>
              </td>
              <td>
                <mat-select [formControl]="frequencyCtrl">
                  @for (fre of frequencies; track fre) {
                  <mat-option [value]="fre">{{fre}}</mat-option>
                  }
                </mat-select>
              </td>
              <td>
                <mat-select [formControl]="instructionCtrl">>
                  @for (ins of instructions; track ins) {
                  <mat-option [value]="ins">{{ins}}</mat-option>
                  }
                </mat-select>
              </td>
              <td>
                <mat-select [formControl]="durationCtrl">
                  @for (du of durations; track du) {
                  <mat-option [value]="du">{{du}}</mat-option>
                  }
                </mat-select>
              </td>
            </tr>
          </tbody>
        </table>
       <button (click)="onAddClick()" mat-button="filled">Add</button>
      </div>
    </div>
  </div>
</div>