    .chat-header {
      border-bottom: 1px solid rgba(111, 196, 230, 0.06);
      display: flex;
      align-items: center;
      padding: 0 1rem;
      background: lightblue;
      color: white;
    }

    .prescription-card {
      background: #fff;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-size: small;
    }

    .zone-title {
      font-weight: 400;
      border-bottom: 2px solid #dee2e6;
      margin-top: 1.5rem;
      margin-bottom: 0.75rem;
      padding-bottom: 0.25rem;
      color: seagreen;
    }

    .rx-symbol {
      font-size: 2rem;
      font-weight: bold;
      color: #198754;
    }

    .prescription-header {
      position: sticky;
      top: 0;
      background-color: lightseagreen;
      color: #fff!important;
    }

.input-none{
  border: none;
  outline: none;
  border-bottom: 1px solid seagreen;
}

.rx-zone{
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.medicine{
  font-size: 14px;
}