    .chat-header {
      border-bottom: 1px solid rgba(111, 196, 230, 0.06);
      display: flex;
      align-items: center;
      padding: 0 1rem;
      background: lightblue;
      color:white;
    }
    .prescription-card {
      background: #fff;
      padding: 0.5rem;
    }

    .zone-title {
      font-weight: 400;
      border-bottom: 2px solid #dee2e6;
      margin-top: 1.5rem;
      margin-bottom: 0.75rem;
      padding-bottom: 0.25rem;
      color:seagreen;
    }

    .rx-symbol {
      font-size: 2rem;
      font-weight: bold;
      color: #198754;
    }

    /* .sidebar{
    background: linear-gradient(#64e66b, #9198e5);
    height: 100vh;
} */