<div class="container-fluid app-view p-0">
    <div class="row g-0 h-100">
        <!-- Sidebar -->
        <div id="sidebar" class="col-12 col-md-4 col-lg-3 border-end sidebar">
            <div class="d-flex align-items-center justify-content-between p-3">
                <div class="d-flex align-items-center gap-2">
                    <img src="/images/logo.jpg" width="48px" height="48px" alt="me" class="avatar">
                    <div>
                        <div class="fw-bold text-warning">Administrator</div>
                        <small class="text-warning">Available</small>
                    </div>
                </div>
                <div>
                    <button class="btn btn-sm btn-light me-1" matIconButton [matMenuTriggerFor]="menu"><i
                            class="bi bi-three-dots-vertical"></i></button>
                    <!-- <button class="btn btn-sm btn-light" id="sidebarClose" title="Close" style="display:none"><i
                class="bi bi-x"></i></button> -->
                    <mat-menu #menu="matMenu">
                        <a routerLink='/create-precription' mat-menu-item>
                            <mat-icon>note_add</mat-icon>
                            <a>Create New</a>
                        </a>
                        <button mat-menu-item ngxPrint 
          printSectionId="doPrint" 
          printTitle="prescription"
          [useExistingCss]="true">
                            <mat-icon>print</mat-icon>
                            <span>Print Now</span>
                        </button>
                        <a routerLink='/dashboard' mat-menu-item>
                            <mat-icon>dashboard</mat-icon>
                            <span>Dashboard</span>
                        </a>
                        <button (click)="logout()" mat-menu-item>
                            <mat-icon>logout</mat-icon>
                            <span>logout</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
            <div class="px-3 pb-3 text-center text-white">
                <mat-button-toggle-group [(ngModel)]="sidelistType" name="favoriteColor" aria-label="Favorite Color">
                    <mat-button-toggle value="patient">Patient</mat-button-toggle>
                    <mat-button-toggle value="template">Template</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="px-3 pb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-search"></i></span>
                    <input id="contactSearch" type="search" class="form-control" placeholder="Search {{sidelistType}}">
                </div>
            </div>

            <div id="contacts" class="contacts list-group list-group-flush">
                <!-- contact item -->
                <div class="list-group-item contact-item d-flex align-items-center" data-name="Alice">

                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between">
                            <div class="contact-title">Alice Boby</div>
                            <small class="text-muted">+8809765332</small>
                        </div>
                        <div class="text-truncate text-muted">123 Main Street, City,NY</div>
                    </div>
                </div>
                <div class="list-group-item contact-item d-flex align-items-center" data-name="Alice">

                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between">
                            <div class="contact-title">Alice Boby</div>
                            <small class="text-muted">+8809765332</small>
                        </div>
                        <div class="text-truncate text-muted">123 Main Street, City,NY</div>
                    </div>
                </div>
                <div class="list-group-item contact-item d-flex align-items-center" data-name="Alice">

                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between">
                            <div class="contact-title">Alice Boby</div>
                            <small class="text-muted">+8809765332</small>
                        </div>
                        <div class="text-truncate text-muted">123 Main Street, City,NY</div>
                    </div>
                </div>
                <div class="list-group-item contact-item d-flex align-items-center" data-name="Alice">

                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between">
                            <div class="contact-title">Alice Boby</div>
                            <small class="text-muted">+8809765332</small>
                        </div>
                        <div class="text-truncate text-muted">123 Main Street, City,NY</div>
                    </div>
                </div>
                <div class="list-group-item contact-item d-flex align-items-center" data-name="Alice">

                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between">
                            <div class="contact-title">Alice Boby</div>
                            <small class="text-muted">+8809765332</small>
                        </div>
                        <div class="text-truncate text-muted">123 Main Street, City,NY</div>
                    </div>
                </div>
                <div class="list-group-item contact-item d-flex align-items-center" data-name="Bob">

                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between">
                            <div class="contact-title">Bob <span class="contact-online" title="online"></span>
                            </div>
                            <small class="text-muted">457756565</small>
                        </div>
                        <div class="text-truncate text-muted">House #12, Road #5, Dhanmondi,Dhaka</div>
                    </div>
                </div>

                <div class="list-group-item contact-item d-flex align-items-center" data-name="Charlie">

                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between">
                            <div class="contact-title">Charlie</div>
                            <small class="text-muted">234242424</small>
                        </div>
                        <div class="text-truncate text-muted">House #12, Road #5, Dhanmondi,Dhaka</div>
                    </div>
                </div>
                <div class="list-group-item contact-item d-flex align-items-center" data-name="Charlie">

                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between">
                            <div class="contact-title">Charlie</div>
                            <small class="text-muted">234242424</small>
                        </div>
                        <div class="text-truncate text-muted">House #12, Road #5, Dhanmondi,Dhaka</div>
                    </div>
                </div>
                <div class="list-group-item contact-item d-flex align-items-center" data-name="Charlie">

                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between">
                            <div class="contact-title">Charlie</div>
                            <small class="text-muted">234242424</small>
                        </div>
                        <div class="text-truncate text-muted">House #12, Road #5, Dhanmondi,Dhaka</div>
                    </div>
                </div>
                <!-- add more contacts as needed -->
            </div>
        </div>

        <div class="col-12 col-md-8 col-lg-9 chat-panel bg-white">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>